body {
      margin: 0;
      font-family: 'Lucida Sans', sans-serif;
      height: 100vh;
      overflow: auto;
      background-color: rgb(195, 195, 189);
      padding: 20px;
}

#demo {
      background-image: url(./images/img\ 1.jpg);
      background-repeat: no-repeat;
}

.travel {
      padding-top: 150px;
      padding-left: 50px;
}

h1 {
      font-family: 'Lucida Sans';
}

p {
      padding-top: -10px;
}

.footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: red;
      color: white;
      text-align: center;
}