.red {
      background-color: rgb(211, 237, 228);
      border: 1px solid black;
      border-radius: 15px;
      width: 750px;
      height: 80px;
      color: rgb(231, 82, 8);
      padding: 10px;

}

.green {
      background-color: rgb(141, 144, 191);
      border: 1px solid black;
      border-radius: 15px;
      width: 550px;
      height: 80px;
      color: rgb(22, 97, 22);
      padding: 10px;
}

.blue {
      background-color: rgb(193, 114, 163);
      border: 1px solid black;
      border-radius: 15px;
      width: 400px;
      height: 70px;
      color: rgb(4, 6, 106);
      padding: 10px;
}