.img-thumbnail {
      filter: grayscale(100%);
      width: 450px;
      height: 250px;
      align-items: center;
}

h1,
p {
      text-align: center;
}

img {
      transition: 1s;
}

img:hover {
      filter: brightness(100%);
      transform: scale(1.1);
}

h1 {
      color: forestgreen;
}